<h2>Get candidates by Phone </h2>

<form #f1="ngForm" >
    <div class="row form-group">
        <div class="col">
            <label for="candidatephone">Enter Candidate Phone::</label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <input #candidatephone="ngModel" type="text" class="form-control" id="candidatephone" name="candidatephone"
                [(ngModel)]="CandidatePhone" required>
        </div>
</div>
<button class="btn btn-primary" (click)="findCanPhone()">FIND</button>
</form>
<div *ngIf="candidates">
    
<table class="table table-hover">
    <tr>
        <th>Candidate Name</th>
        <th>Candidate Email</th>
        <th>Candidate phone</th>
        <!-- <th>Candidate resume</th> -->
    </tr>
    <tr *ngFor="let Cand of candidates">
       
     <td>{{Cand.candidateName}}</td>
     <td>{{Cand.emailId}}</td>
     <td>{{Cand.phone}}</td>
    <!-- <td>{{Candidate.resume}}</td></tr> -->
    </tr>
</table>
</div>

