
<div class="row" >
    <div class="col-md-4  alert alert-warning"  style="height: 500px;">
        <p>
            <button routerLink="/login" class="btn btn-success" style="width: 100%">Login</button>
        </p>
    <p>
        <button routerLink="/login" class="btn btn-success" style="width: 100%">Canidates List</button>
    </p>
    <p>
        <button routerLink="/add-candidates" class="btn btn-secondary" style="width: 100%">Add Candidates</button>
    </p>
    <p>
        <button routerLink="/GetByName" class="btn btn-success"style="width: 100%">Get Canidates by Name</button>
    </p>
    <p>
        <button routerLink="/GetByEmail" class="btn btn-secondary"style="width: 100%">Get Candidates by Email</button>
    </p>
    <p>
        <button routerLink="/GetByPhone" class="btn btn-success"style="width: 100%">Candidates by Phone</button>
    </p>
    <p>
        <button routerLink="/addR" class="btn btn-secondary" style="width: 100%;">Add Recruiter</button>
    </p>
    </div>
    <div class="col-md-8">
     <router-outlet></router-outlet>
    </div>
</div>